langchain
langchain-community
langchain-openai
langchain-groq
faiss-cpu
tiktoken
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib

##Embeddings
langchain-huggingface
langchain-transformers
langchain-experimental
rank_bm25
wikipedia
arxiv
langchain-tavily